.main-body{
  background-color: lightblue;
  height: 100vh;
}
.Todo-body{
  background-color: white;
  height: 550px;
  width: 500px;
  border-radius: 8px;
}
.color{
  color: black;
}
.todo-content{
  width: 85%;
  margin: auto;
  gap: 10px;
}
.button{
  border-radius: 8px;
  width: 50px;
  height: 60px;
  margin: auto;
}
.ul-items {
width: 85%;
margin: auto;
}
.box{
  display: flex;
  justify-content: space-between;
  /* background-color:red; */
  padding: 10px;
  margin-left: -30px;
}
.buttons{
  /* background-color: red; */
  display: flex;
  column-gap: 10px;
  border-radius: 10px;
}




